h1,
h2,
h3,
p {
    color: #fff;
}

h1 {
    font-family: "Poppins", sans-serif;
}

p {
    font-family: "Poppins", sans-serif;
}

nav {
    li {
        a {
            font-family: "Poppins", sans-serif;
        }
    }
}