@import "../../../../../globalStyle/colors.scss";

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    // width: 80px;
    // height: 80px;
    padding: 10px;
    overflow: hidden;


    .grey-block {
        display: flex;
        position: absolute;
        height: 100%;
        width: 100%;
        transform: rotate(-31deg);
        right: 38.1%;
        top: 40%;
    }



    .logo {
        display: flex;
        position: relative;
        height: 100%;
        width: 100%;

        .logo-line {
            position: absolute;
            width: 13%;
            background-color: $white;
            border-radius: 40px;

            &.logo-n {

                height: 100%;

                &.n-1 {
                    left: 0;
                }

                &.n-2 {
                    height: 115%;
                    left: 27%;
                    top: -7.5%;
                    transform: rotate(-31deg);
                }
            }

            &.logo-y {
                height: 75%;



                &.y-1 {
                    transform: rotate(-31deg);
                    left: 37%;
                    top: -4.5%;
                }

                &.y-2 {
                    transform: rotate(31deg);
                    right: 16%;
                    top: -4.5%;
                }

                &.y-3 {
                    height: 50%;
                    top: 50%;
                    right: 33%;
                }
            }
        }




    }
}