@import './globalStyle/colors.scss';
@import './globalStyle/text.scss';

html {
  height: 100%;
}

body {
  max-height: 100vh;
  max-width: 100vw;
  font-family: system-ui;
  font-size: 1.125rem;
  line-height: 1.5;

}

img,
svg,
video {
  max-width: 100%;
  display: block;
}

.row,
.column {
  display: flex;
}

.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}